.footer {
  position: fixed;
  width: 100%;
  height: 33%;
  left: 0px;
  bottom: 0px;

  border-radius: 60px 60px 0px 0px;
}
.dark-purple {
  background: #5C2DD5;
}
.red {
  background: #FD6687;
}
.yellow {
  background: #FFCE67;
}
